services:
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: system-wiki
    ports:
      - "27017:27017"
    networks:
      - system-wiki

  mongo-express:
    image: mongo-express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    ports:
      - "8081:8081"
    networks:
      - system-wiki

  front:
    image: leltondev/system-wiki-front:1.1.0-nginx
    environment:
      API_ARTICLE_URL: http://${HOST_IP}:8080
      PROD: true
    ports:
      - "80:80"
    networks:
      - system-wiki

  back:
    image: leltondev/system-wiki-back:1.1.0-jvm
    environment:
      CORS: true
      CORS_ORIGINS: /.*/
      MONGODB_URL: mongodb://root:example@mongo:27017/system-wiki?authSource=admin
      MONGODB_DATABASE: system-wiki
    ports:
      - "8080:8080"
    networks:
      - system-wiki

networks:
  system-wiki:
    name: system-wiki-net
    driver: bridge